body {
    font-family: sans-serif;
}

.main-view{
    text-align: center;
}
  
video {
    width: 600px;
    max-width: 100%;
}

.buttons button{
    margin-left: 10px;
}

.video-wrapper{
    height: 500px;
    background: #252839;
    width: 100%;
    padding-top: 40px;
}

.video-wrapper video{
    border-style: solid;
    border-width: 5px;
    border-color: #ffffff;
}

.video-wrapper video:nth-child(2n){
    margin-left: 20px;
}

.thumbnail-wrapper{
    margin-bottom: 10px;
}

/*HIDES THE VIDEO CONTROLS*/
::-webkit-media-controls {
    display:none !important;
}